<h1>
  Edit character #<%= @character.id %>
</h1>

<hr>

<form action="/update_character/<%= @character.id %>" method="post">

  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <%= select_tag("movie_id", options_from_collection_for_select(Movie.all, :id, :title, @character.try(:movie_id)), :class => "form-control") %>
    or <a href="/movies/new">Add a New Movie</a> first
  </div>

  <div class="form-group">
    <label for="actor_id">
      Actor
    </label>

    <%= select_tag("actor_id", options_from_collection_for_select(Actor.all, :id, :name, @character.try(:actor_id)), :class => "form-control") %>
    or <a href="/actors/new">Add a New Actor</a> first
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @character.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update character
  </button>
</form>

<hr>

<a href="/characters">
  Go back
</a>
