<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Character #<%= @character.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/characters" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/characters/<%= @character.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit character
        </a>
      </div>

      <div class="col">
        <a href="/delete_character/<%= @character.id %>" class="btn btn-block btn-outline-secondary">
          Delete character
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Movie
      </dt>
      <a href="/movies/<%= @character.movie_id %>">
        <%= Movie.find(@character.movie_id).title %>
      </a>

      <dt>
        Actor
      </dt>
      <a href="/actors/<%= @character.actor_id %>">
        <%= Actor.find(@character.actor_id).name %>
      </a>

      <dt>
        Name
      </dt>
      <dd>
        <%= @character.name %>
      </dd>
    </dl>
  </div>
</div>

